<!DOCTYPE html>
<html>

<head>
  <title>Capstone Project - Use a Public API</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>

<body>
  <% if(locals.coffee) { %>
    <div class="item-container">
    <% coffee.forEach(document => { %>
          <div><h1><%= document.title %></h1><div>
          <div><p class="description"><%= document.description %></p></div>
          <div><img src="<%=document.image%>" class="coffee-list"></div>
          <% }) %>
    <% }  %>
    </div>

  
  <% if(locals.randomCoffee) { %>
    <div class="random-center">
    <div class="random-container">
      <div class="card">
        <div class="first-content">
          <img src="<%=randomCoffee%>" class="coffee-img">
        </div>
        <div class="second-content">
      <a class="hyper-link" href="/">Generate random coffee image</a>
        </div>
      </div>
      <% } %>
    </div>

    <% if(locals.randomCoffee) { %>
      <div class="random-container">
        <div class="card">
          <div class="first-content">
            <img src="/images/cold.png" class="coffee-img">
          </div>
          <div class="second-content">
        <a class="hyper-link" href="/iced">Generate list of cold coffees</a>
          </div>
        </div>
        <% } %>
      </div>

      <% if(locals.randomCoffee) { %>
        <div class="random-container">
          <div class="card">
            <div class="first-content">
              <img src="/images/hot.png" class="coffee-img">
            </div>
            <div class="second-content">
          <a class="hyper-link" href="/hot">Generate list of hot coffees</a>
            </div>
          </div>
          <% } %>
        </div>
  </div>      
</body>

</html>